{% extends "tutor_match/base.html" %}

{% block content %}
<body>


<div class="grid-container2">
<div class="body-item1"> 
<header style="font-size: 4vw;text-align: center;">
	Howdy! Welcome to TAMU Tutors!
</header>
</div>
	
<div class="body-item2">
<div class="text-box1">
	<header> What is TAMU Tutors? </header>

	<p> TAMU Tutors connects struggling students with knowledgable tutoring services.  
	Tutors are able to create a profile and add details about their expertise, rates, course experience, and more.
	Our algorithm matches students with the perfect tutor!
	</p>
</div>
</div>


<div class="body-item4">
<div class="text-box1">
<header> Our Core Statement </header>
	<p> As a service ran by students, every year we hear advisors, professors, and deans cry, "Need help? Ask for it!".
	The College Station Area has a vast amount of tutoring services: Our goal is to streamline the process to finding them.
	Our software enables tutors to discover new clients with ease. We wholheartedly believe that every student has the ability to succeed.
	
	</p>
</div>
</div>

<a class='body-item3' href="/search">
<div class="body-item3">
<header style="text-align: center;"> Do you need help boosting your GPA? Search for a professional tutor here! </header> 
<img href="https://ww8.ikea.com/ext/iplugins/en_US/development/plugins/newHeader/images/search.svg">
</div>
</div>
</body>
</a>

{% endblock content %}