{% extends "tutor_match/base.html" %}

{% block content %}
<div class="form-container">
	<form method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom">Tutor Sign Up</legend>
			{{ form }}
		</fieldset>
		<div class="form-group">
			<button class="btn btn-outline-info" type="submit">Log In</button>
		</div>
	</form>
	<div class="border_top pt-3">
		<small class="text-muted">
			Already have an account? <a h-ref="login.html">Sign in</a>
		</small>
	</div>
</div>
{% endblock content %}